.NavigationItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

.NavigationItems li {
  margin: 1rem;
}

.NavigationItems_not-auth-user{
  display: flex;
  flex-direction: column;
  padding:10px;
}

.NavigationItems a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.1rem 0.2rem 0rem 0.2rem;
}
.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active {
  background: #FFFF00;
  border-color: #292929;
  color: #292929;
}

.NavigationItems button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.NavigationItems button:focus {
  outline: none;
}

.NavigationItems button:hover,
.NavigationItems button:active {
  background: #292929;
  color: white;
}

@media (min-width: 768px) {
  .NavigationItems{
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .NavigationItems li {
    margin: 0 0.5rem;
  }

  .NavigationItems a {
    color: darkolivegreen;
    text-decoration: none;
  }

  .NavigationItems button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  
  .NavigationItems button:hover,
  .NavigationItems button:active {
    background: #f8df00;
    color: #292929;
  }
  .NavigationItems_not-auth-user{
    display: flex;
    flex-direction: row;
  }
}
