
.About{
  display: flex;
  border: 5px solid #8B4513;
  padding:10px;
  background-color: #FFD700;
}

.About span{
  padding:5px;
}

.About__keys{
  display: flex;
  flex-direction: column;
  padding-right:40px;
}
.About__values{
  display: flex;
  flex-direction: column;
  width:100%
}
.About__profile-intro{
  font-size: 21px;
  font-weight: bold;
  color: #8B4513;
}
.About__values__about-me{
  border: 2px solid #8B4513;
  max-width: 80%;
  word-wrap: break-word;
  padding:5px;
}

@media (max-width: 768px) {
  .About{
    font-size: small;
    border: 5px solid #8B4513;
    background-color: #FFD700;
  }
  .About__values__about-me{
    border: 2px solid #8B4513;
    word-wrap: break-word;
    padding:5px;
  }
}