.Education{
  border: 5px solid #8B4513;
  background-color: #FFD700;
}
.Education__items{
  display: flex;
  padding:10px;
}

.Education__keys{
  display: flex;
  flex-direction: column;
  padding-right:40px;
}
.Education__values{
  display: flex;
  flex-direction: column;
}
.hr{
  padding:0.9px;
  margin:0;
  background-color:#CD853F;
}
.Education__items__trash-icon{
  position: absolute;
  left: 88%;
  /* bottom: -243; */
  right: 0;
  margin-right:3px;
  margin-bottom: 3px;
}

.Education__items__trash-icon img{
  filter: invert(29%) sepia(64%) saturate(762%) hue-rotate(347deg) brightness(92%) contrast(94%);
}



@media (max-width: 768px) {
  .Education{
    font-size: small;
    border: 5px solid #8B4513;
    background-color: #FFD700;
  }
  .Education__items__trash-icon{
    position: absolute;
    left: 70%;
    /* bottom: -243; */
    right: 0;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .Education__items__trash-icon button{
    background: none;
  }
  .Education__items__trash-icon img{
    width:20px;
    height:20px
  }
  .Education__values{
    width:30%;
    word-wrap: break-word;
  }
}