.Profile{
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}
.Profile__head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile__intro{
  display: flex;
  flex-direction: column;
}
.Profile__profile-intro{
  padding:20px;
}
.Profile__user-name{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #8B4513;
}
.Profile__profile-intro__about{
  padding:30px;
}

.Profile__profile-intro__about__head{
  display: flex;
  justify-content: space-between;
}
.Profile__profile-intro__delete-my-account{
  display: flex;
  justify-content: center;
}

.Profile__create-profile-button{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .Profile{
    /* display: flex; */
  }

}