.LandingPage {
  display: flex;
  flex-direction: column;
}

.LandingPage__intro {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.LandingPage__intro__about {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.LandingPage__intro__about__opening-sentence {
  font-size: 21px;
  font-family: 'Handlee', cursive;
  color: #8b4513;
}

.LandingPage__intro__about__title {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: 'Balsamiq Sans', cursive;
}
.LandingPage__intro__about__title__welcome {
  font-size: 50px;
  font-family: inherit;
}

.LandingPage__intro__about__title__welcome-footer {
  align-self: center;
}

.LandingPage__intro__about__join-button {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Comfortaa', cursive;
}
.LandingPage__intro__about__join-button span {
  margin-bottom: 10px;
}

.LandingPage__intro__about__join-button a {
  border-radius: 25%;
  padding: 5px;
  margin-top: 15px;
  align-content: center;
  align-self: center;
}

.LandingPage__buzz-landing img {
  width: 40rem;
  height: 30rem;
}

footer {
  font-size: 15px;
  align-self: flex-end;
  font-family: 'Comfortaa', cursive;
}
