.BuzzItem {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 50%;
  height: auto;
  list-style: none;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2%;
}

.BuzzItem__Data {
  display: flex;
  flex-direction: row;
}
.BuzzItem__elements {
  display: grid;
  margin: -10px 20px;
}

.BuzzItem__userData {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.BuzzItem__bottom {
  display: flex;
  padding:10px;
}

.BuzzItem__bottom .Like img {
  width: 15px;
  height: 15px;
  padding: 3px;
  cursor: pointer;
  /* margin: 0 -9px 0px 12px; */
}
.BuzzItem__bottom .Comments img {
  position: relative;
  left: 5px;
  top: 2px;
  margin: 0px 3px 0px 20px;
  width: 15px;
  height: 15px;
}
.BuzzItem__userData .UserName {
  font-family: 'Karla', sans-serif;
  font-size: larger;
}

.BuzzItem__userData .BuzzedOn {
  color: gray;
  font-family: 'Karla', sans-serif;
  font-size: small;
  margin-bottom: 20px;
}
.BuzzItem__userData .BuzzText {
  font-family: 'Arimo', sans-serif;
}

.Like {
  display: flex;
}
.Like__like-button {
  display: flex;
}
.Like__unlike-button {
  margin-left: 8px;
}

.Comments {
  display: flex;
  flex-direction: column;
}
.Comments__button {
  cursor: pointer;
}
.Comments img {
  padding: 0 5px;
}
.Comments__comments-items {
  padding:40px;
}
.Comments__comments-items__full-item{
  display: flex;
}
.Comments__comments-items__full-item button{
  align-self: center;
  padding: 0 5px
}
.Comments__comments-items__span{
    padding:5px;
    display: table;
    word-break: break-word;
}
.Comments__comments-items__span span{
  display: flex;
  background-color:#FFE5BC;
}
.Comments__comments-items__span__span-name{
  padding: 3px 5px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.Comments__comments-items__span__span-text{
  padding: 5px 9px;
}

.Comments__comment-input {
  padding:5px;
  display: flex;
  height:37px;
}
.Comments__comment-input textarea{
  margin-left: 4px;
  resize: none;
  border-radius: 20px;
  outline: none;
  padding: 6px 0px 0 10px;
  width:300px;
}
.Comments__comment-input button{
  height:31px;
  border-radius: 5%;
  align-self: center;
  margin-left: 10px;
}
.BuzzItem__Data__delete-post-button{
  align-self: center;
}

@media (max-width: 768px) {
  .BuzzItem {
    width: 120%;
  }
  .BuzzItem__elements{
    margin: -11px 7px
  }
  .BuzzItem__bottom .Comments img{
    margin: 0px 0px 0px -5px;
  }
}