.AddEducation{
  margin-top:70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Comfortaa', cursive;
  color: #8B4513;
  padding:10px 40px;
}

.AddEducation__add-span{
  font-weight: bold;
  font-size: 40px;
}

.AddEducation input{
  width:80%;
  height:20px;
  border: 1px solid black
}

.AddEducation__input__bottom-buttons{
  display: flex;
  justify-content: space-between;
  width:25%;
  padding-top:40px;
}