.MyProfile{
  margin-top:70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Noto Sans JP', sans-serif;
  color: #8B4513;
  padding:10px 40px;
}

.MyProfile input{
  width:80%;
  height:20px;
  border: 1px solid black
}

.MyProfile__edit-span{
font-weight: bold;
font-size: 40px;
}

.MyProfile__input__about-me textarea{
  resize: none;
  height:70px;
  width:79.5%;
  border-radius: 4px;
}

.MyProfile__input__bottom-buttons{
  display: flex;
  justify-content: space-between;
  width:25%;
  padding-top:40px;
}
