.Register{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Noto Sans JP', sans-serif;
  color: #8B4513;
}

.Register input{
  width:15rem;
  height:20px;
  border: 1px solid black
}

.Register__sign-up-span{
  font-size: 50px;
  color: #8B4513;
}
.Register__sign-in-span{
  padding: 20px 0;
  font-size: 12px;
}