.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFD700  ;
  padding: 0;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.Toolbar__drawer-btn{
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.Toolbar__header-nav{
  display: none;
}

.Toolbar__drawer-btn span{
  display: block;
  width: 3rem;
  height: 2.5px;
  background: black;
}

@media (min-width: 768px) {
  .Toolbar__drawer-btn {
    display: none;
  }
  .Toolbar__header-nav{
    display: block;
  }
}

