.Modal {
  z-index: 200;
  position: fixed;
  top: 17vh;
  left: 34%;
  height: 450px;
  width: 530px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  font-family: "Comfortaa", cursive;
}
.Modal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.Modal footer {
  display: flex;
  flex-direction: column;
}
.Modal footer textarea {
  border: none;
  outline: none;
  resize: none;
  font-size: 30px;
  height: 200px;
  margin-top: 20px;
}
.Modal textarea::placeholder {
  font-size: 20px;
  color: #c0c0c0;
}
.Modal footer button {
  align-self: center;
}
.Modal__userInfo {
  display: flex;
}
.Modal__userInfo span {
  margin-left: 5px;
  font-size: larger;
  font-family: "Karla", sans-serif;
}

.Modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.Modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.Modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.Modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

.Modal__create-profile{
  display: flex;
  padding:10px;
  flex-direction: column;
  color: red;
  font-weight: bold;
}
.Modal__create-profile__create-button{
  padding: 10px;
}